*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: lightgrey;
    display: flex;
    align-items:center;
    justify-content:center;
}
.background{
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: 15%;
    top: 15%;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: 15%;
    bottom: 20%;
}
form{
    height: auto;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solname rgba(0,0,0,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 2rem 1.5rem;
}
form *{
    font-family: 'Poppins',sans-serif;
    color: black;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 28px;
    font-weight: 500;
    line-height: 25px;
    text-align: center;
}

label{
    display: block;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(0,0,0,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
input:hover,input:focus,.goto div:hover, .Formbutton:hover {
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
}
::placeholder{
    color: white;
    opacity: 70%;
}
a{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.Formbutton{
    margin-top: 25px;
    width: 100%;
    background-color: black !important;
    color: #ffffff !important;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}
.goto{
  margin-top: 30px;
  display: flex;
}
.goto div{
  width: 100%;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(0,0,0,0.27);
  color: #3b3d3f;
  text-align: center;
}
.goto div:hover{
  background-color: rgba(157, 149, 149, 0.47);
}
.goto i{
  margin-right: 4px;
}
@media (max-width:601px) {
    form {
        width:300px;
    }
}
#Popup {
    opacity: 1;
    animation: fade 3s linear;
    animation-iteration-count: 1;
}
@keyframes fade {
    0%,80% { opacity: 0; }
    10%,60% { opacity: 1; }
}
.hide {
    display: none;
}